<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center mt-2">
    no hay paises que mostrar
</div>

<ng-template #table class="mt-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let countri of countries; let i = index;">
                <td>{{i}}</td>
                <td>
                    {{countri.flag}}
                </td>
                <td><img [src]="countri.flags.svg" [alt]="countri.name.common" ></td>
                <td>{{countri.name.common}}</td>
                <td>{{countri.capital}}</td>
                <td>{{countri.population | number}}</td>
                <td>
                    <a [routerLink]="['/countries/by', countri.cca3]">Ver mas</a>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
