<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <shared-search-box 
        placeholder="Buscar por capital"
        (onValue)="searchByCapital($event)"
        (onDebounce)="searchByCapital($event)"
        [inicialValue]="inicialValue"
        ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <country-table [countries]="countries"></country-table>
    </div>
</div>